<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>email</key>
	<string>venkatesh.mandapati@gmail.com</string>
	<key>firstname</key>
	<string>venkatesh</string>
	<key>gender</key>
	<string>Male</string>
	<key>goal</key>
	<string>10000</string>
	<key>goalunit</key>
	<string>steps</string>
	<key>height</key>
	<string>165.0</string>
	<key>heightunit</key>
	<string>cm</string>
	<key>lastname</key>
	<string>mandapati</string>
	<key>weight</key>
	<string>65.0</string>
	<key>weightunit</key>
	<string>kg</string>
</dict>
</plist>
